<div class="alert alert-danger alert-dismissible fade in" style="width: 100%; display: none;" id="errorAlert">
    <p style="margin: auto;text-align: center;">{{ errorMessage }}<span (click)="hideError()" aria-label="close" style="float: right;">&times;</span></p>
</div>
<ng-container *ngIf="checkCurrentUser(); else logForm">
</ng-container>
<ng-template #logForm>
    <form class="form-horizontal" (ngSubmit)="onLogin(f)" #f="ngForm" id="formLogin">
        <fieldset class="fieldsGroup">
            <legend style="text-align: center; height:15%;justify-content: flex-end; font-size: xxx-large;" class="centerVerticalBlock">{{ translateService.instant('auth.sign_in_title') }}</legend>
            <div style="height: 50%; min-width: 600px;" class="centerVerticalBlock">        
                <div class="form-group has-danger row align-items-center">
                    <label for="name" class="form-control-label col-5">{{ translateService.instant('auth.login_label') }} :</label>
                    <span class="col-1"></span>
                    <input type="text" name="name" class="form-control col-5" id="name" [placeholder]="translateService.instant('auth.name_placeholder')" ngModel>
                </div>
                <div class="form-group has-danger row align-items-center">
                    <label for="password" class="form-control-label col-5">{{ translateService.instant('auth.password_label') }} :</label>
                    <span class="col-1"></span>
                    <input name="password" type="password" class="form-control col-5"  [placeholder]="translateService.instant('auth.password_placeholder')" ngModel
                    id="password">
                </div>
                <div class="row justify-content-center align-items-center"> 
                    <button type="submit" class="btn btn-primary">
                        {{ translateService.instant('auth.log_in') }}
                    </button>
                </div>
            </div>
            <div class="row justify-content-center align-items-center centerVerticalBlock" style="height:15%;">
                <p style="width: 100%;text-align: center;">{{ translateService.instant('auth.no_account_question') }}</p>
                <button type="button" class="btn btn-primary smallAuthButton" routerLink="/register">{{ translateService.instant('auth.sign_up') }}</button>
            </div>
        </fieldset>
    </form> 
</ng-template>