* {
    color: #FFFFFF;
}

.search-icon {
    color: black;
    background-color: white;
    border-color: white;
}

.search-icon:hover {
    color: white;
    background-color: #333333;
}

.textButtonCol {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.textButton {
    width: 100%;
    height: 100%;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #008080;
    border-width: 0;
}

.textButton:hover {
    background-color: #87CEFA;
}

.textButton:active {
    background-color: #008080;
    border-width: 0;
}

.smallAuthButton {
    height: 35px;
    width: 135px;
    font-size: medium;
    padding: 0;
}

.row {
    display: flex;
    align-items: center;
    height: 50%;
}

.profilePicture {
    height: 80px;
    max-width: 120px;
}

.dark-outline {
    color: #343a40;
    border-color: #008080;
    background-color: white;
}

.dark-outline:hover {
    color: white;
    background-color: #008080;
    border-color: white;
}


