<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse" id="navbarSupportedContent" style="min-height: 100px;">
        <div class="col-md-4">
        </div>
        <form class="form-inline mx-auto col-md-3" style="padding: 0; margin: 0;">
            <div class="col">
                <span class="row justify-content-center">
                    <h2>Browse REST APIs</h2>
                </span>
                <span class="row justify-content-center">
                    <input class="form-control mr-sm-2" type="search" placeholder="Twitter, AWS..." [value]="keywords" (input)="keywords = $event.target.value" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 search-icon" type="submit" [disabled]="keywords == ''" routerLink="/apis/searchResults" [queryParams]="{ keywords: keywords}"><fa-icon [icon]="faSearch"></fa-icon></button>
                </span>
            </div>
        </form>
        <ul class="navbar-nav col-md-3" style="height: 100px;">
            <div class="col text-center textButtonCol">
                <button type="button" class="btn btn-light textButton" routerLink="/api/add">Add API</button>
            </div>
            <div class="col text-center textButtonCol">
                <button type="button" class="btn btn-light textButton" [routerLink]="['api', idMainAPI]">Our API</button>
            </div>
        </ul>
        <ul class="navbar-nav col-md-1 justify-content-center" style="min-height: 100px;padding-right: 0px;">
            <div class="btn-group dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="lang-sm lang" [lang]="this.lang"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><span class="lang-sm lang-lbl" (click)="changeLanguage('en')" lang="en"></span></li>
                  <li><span class="lang-sm lang-lbl" (click)="changeLanguage('es')" lang="es"></span></li>
                  <li><span class="lang-sm lang-lbl" (click)="changeLanguage('fr')" lang="fr"></span></li>
                </ul>
            </div>
            <ng-container *ngIf="this.authService.getCurrentUser() == null; else logout">
                <div class="col align-items-center">
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary smallAuthButton" routerLink="/login">Sign in</button>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary smallAuthButton" routerLink="/register">Sign up</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #logout>
                <div class="col align-items-center">
                    <div class="row justify-content-center" style="height:100%">
                        <button type="button" class="btn btn-danger smallAuthButton" (click)="onLogout()">Logout</button>
                    </div>
                </div>
            </ng-template>
        </ul>
    </div>
</nav>