.centerInlineBlock {
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.centerVerticalBlock {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.referenceLink {
    color: coral;
    font-weight: bold;
    margin: auto;
}

.referenceLink:hover {
    cursor: pointer;
}

.externalLink {
    border-left-width: 1px !important;
    flex-grow: 1;
    text-align: center;
}

app-rest-api-column-item {
    width:300px;
    max-height: 470px;
}