.centerInlineBlock {
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.centerVerticalBlock {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.referenceLink {
    color: coral;
    font-weight: bold;
    margin: auto;
}

.referenceLink:hover {
    cursor: pointer;
}

.externalLink {
    border-left-width: 1px !important;
    flex-grow: 1;
    text-align: center;
}

.api-item {
    width:400px;
    height: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: teal;
    border-width: 10px;
    border-style: solid;
    border-radius: 50px;    
}

.api-item:hover {
    cursor: pointer;
}

.api-item > p, .api-item > ng-div {
    background-color: floralwhite;
    padding:15px;
}

.api-list-item:hover {
    background-color: cadetblue;
    color: white;
}