<div class="alert alert-danger alert-dismissible fade in" style="width: 100%; display: none;" id="errorAlert">
    <p style="margin: auto;text-align: center;">{{ errorMessage }}<span (click)="hideError()" aria-label="close" style="float: right;">&times;</span></p>
</div>

<div>
    <div class="centered" style="font-size: xxx-large; font-weight: bold;">
        {{ translateService.instant('home.welcome_message') }}
    </div>
    <div class="centered" style="font-size: large;margin-bottom: 5%;font-style: italic;">{{ translateService.instant('home.moto') }}</div>
    <div class="centered" style="font-size: xx-large;">
        {{ translateService.instant('home.latest_apis_title') }}
    </div>
    <div class="vertical-list">
        <app-rest-api-column-item *ngFor="let restApi of restApis" [restApi]="restApi" [showDescription]="false"></app-rest-api-column-item>
    </div>
    
    <div class="vertical-list">
        <div class="description-div">
            <p style="font-size: xx-large;">{{ translateService.instant('home.description_title_1') }}</p>
            <div style="font-size: medium;" >
                <p>{{ translateService.instant('home.description_sentence_1_1') }}</p>
                <p>{{ translateService.instant('home.description_sentence_1_2') }}</p>
                <p>{{ translateService.instant('home.description_sentence_1_3') }}</p>
            </div>
        </div>
        <div class="description-div">
            <p style="font-size: xx-large;">{{ translateService.instant('home.description_title_2') }}</p>
            <div style="font-size: medium;" >
                <p>{{ translateService.instant('home.description_sentence_2_1') }}</p>
                <p>{{ translateService.instant('home.description_sentence_2_2') }}</p>
            </div>
        </div>
        <div class="description-div">
            <p style="font-size: xx-large;">{{ translateService.instant('home.description_title_3') }}</p>
            <div style="font-size: medium;" >
                <p>{{ translateService.instant('home.description_sentence_3_1') }}</p>
                <p>{{ translateService.instant('home.description_sentence_3_2') }}</p>
                <p>{{ translateService.instant('home.description_sentence_3_3') }}</p>
            </div>
        </div>
    </div>
    
    <div style="width: 100%; height:50px; text-align: center;margin-top: 10%;">
        <a class="centered" style="font-size: large;text-decoration: none; color: darkslategray;" routerLink="/apis/list">
        {{ translateService.instant('home.entire_repository') }}
        </a>
    </div>
</div>
