<div class="alert alert-danger alert-dismissible fade in" style="width: 100%; display: none;" id="errorAlert">
    <p style="margin: auto;text-align: center;">{{ errorMessage }}<span (click)="hideError()" aria-label="close" style="float: right;">&times;</span></p>
</div>
<ng-template #blacklistModalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ translateService.instant('provider.blacklist') }} {{ provider.name }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ translateService.instant('provider.blacklist_repository_question') }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="blacklistProvider()">{{ translateService.instant('provider.blacklist') }}</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{ translateService.instant('provider.cancel') }}</button>
    </div>
</ng-template>
<ng-template #unblacklistModalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ translateService.instant('provider.unblacklist') }} {{ provider.name }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ translateService.instant('provider.unblacklist_repository_question') }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="unblacklistProvider()">{{ translateService.instant('provider.unblacklist') }}</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{ translateService.instant('provider.cancel') }}</button>
    </div>
</ng-template>
<form [formGroup]="editProviderForm" (ngSubmit)="onEditProvider()" id="editProviderForm" style="width: 90%;">
    <fieldset class="fieldsGroup container" style="width: 100%;max-width: 100%;height: fit-content;">
        <legend style="text-align: left; height:17%; margin-top:2%; justify-content: flex-start; font-size: xx-large;" class="centerVericalBlock">{{ translateService.instant('provider.edit_title') }} {{ provider.name }} ({{ translateService.instant('provider.title') }})</legend>
        <div class="row" style="min-height: 75%;height: fit-content;margin-top: 50px;">
            <div style="display: inline-block;width: 25%;">
                <div class="form-group has-danger row align-items-center">
                    <img id="imageLogo" style="width: 90%; height: auto;"/>
                </div>
                <div class="form-group has-danger row align-items-center">
                    <label for="logoURL" class="form-control-label col-4">{{ translateService.instant('provider.logo_label') }} :</label>
                    <span class="col-1"></span>
                    <input type="text" id="logoURL" formControlName="logoURL" class="form-control col-7" (change)="onLoadLogoURL()"/>
                </div>
                <div class="form-group has-danger row align-items-center">
                    <label for="logo" class="form-control-label col-4">({{ translateService.instant('provider.upload_label') }}) :</label>
                    <span class="col-1"></span>
                    <input type="file" class="form-control col-7" accept="image/*" id="logo" name="logo" aria-describedby="fileHelp" (change)="onLoadLogoFile()">
                </div>
            </div>
            <div style="display: inline-block;width: 3%;"></div>
            <div style="display: inline-block;width: 72%;">
                <div class="form-group has-danger row align-items-center">
                    <input type="text" formControlName="name" [placeholder]="translateService.instant('provider.name_label')" class="form-control col-6" style="font-size: x-large;">
                    <button *ngIf="activeRole == 'Administrator' && provider && provider.blacklisted" type="button" class="btn btn-outline-danger" style="margin-left: auto;font-size: x-large;" (click)="openModal(unblacklistModalContent)">{{ translateService.instant('api.unblacklist') }}</button>
                    <button *ngIf="activeRole == 'Administrator' && provider && !provider.blacklisted" type="button" class="btn btn-outline-danger" style="margin-left: auto;font-size: x-large;" (click)="openModal(blacklistModalContent)">{{ translateService.instant('api.blacklist') }}</button>
                </div>
                <div class="form-group has-danger row align-items-center shadow-textarea">
                    <textarea class="form-control z-depth-1" formControlName="description" id="description" rows="8" [placeholder]="translateService.instant('provider.description_placeholder')"></textarea>
                </div>
                <div class="form-group has-danger row align-items-center">
                    <label for="name" class="form-control-label col-3" style="margin-right: 25px;">{{ translateService.instant('provider.related_links_label') }}:</label>
                    <div class="col-7" style="margin:0;padding:0; display: flex; flex-direction: row; flex-wrap: wrap;">
                        <input type="text" *ngFor="let link of links" [formControlName]="link" (change)="addLink(link)" class="form-control" style="margin: 10px;flex-grow: 1;display:inline-block;width: fit-content;">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="centerVerticalBlock" style="max-width: 500px;"> 
            <button class="btn btn-primary" style="font-size: large;height: 50px;width: 200px;margin-right: 50px;" (click)="goToProvider()">
                {{ translateService.instant('provider.cancel') }}
            </button>
            <button type="submit" class="btn btn-primary" style="font-size: large;height: 50px;width: 200px;margin-left: 50px;" [disabled]="!editProviderForm.valid">
                {{ translateService.instant('provider.edit') }}
            </button>
        </div>
    </fieldset>
</form>